.card-img-top {
    max-width: 100%;
}

.card {
    max-width: 33.33%;
    /* margin: 5px; */
    padding: 5px;
}

img {
    margin-bottom: 10px;
    border-radius: 7px;
}

.wuv-button {
    padding: 10px;
}

h1 {
    padding: 20px;
}